<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Omniboard</title>

    {% block meta %}{% endblock %}
</head>
<body>
    {% block main_content %}{% endblock %}

    {# ws4redis depends on jquery #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/ws4redis.js" type="text/javascript"></script>
	{% block script_panel %}{% endblock %}
</body>
</html>