{% extends 'base.html' %}

{% block main_content %}
    <article>
        <h1>Hello World</h1>
        <pre id="message-container">no entries... make sure the board gets updated!</pre>
    </article>
{% endblock %}

{% block script_panel %}
    <script>
    (function() {
        var message_container = document.getElementById("message-container");

        var ws4redis = WS4Redis({
            uri: '{{ WEBSOCKET_URI }}general?subscribe-broadcast&publish-broadcast&echo',
            receive_message: receiveMessage,
            connected: on_connected,
		    heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
        });

        function on_connected() {
            console.log('Connected');
        }

        // receive a message though the Websocket from the server
        function receiveMessage(msg) {
            console.log(msg);
            message_container.innerHTML = msg;
        }
    })();
    </script>
{% endblock %}